{% extends "core/base.html" %}

{% block title %}
    <title>Edit user</title>
{%  endblock %}

{% block content %}
    <div class="row">
        <article class="col-sm-12">
            <section class="card">
                <a href="{% url 'core:user_blogs_list' pk=object.id%}">Back to the user</a>
                <h1>Edit the profile:</h1>
                <form action="" method="post">
                    {% csrf_token %}

                    {% include 'core/forms_render.html' %}

                    <div class="form-group" align="center">
                        <button type="submit" class="btn btn-success">
                            Edit
                        </button>
                    </div>
                </form>
            </section>
        </article>
    </div>
{% endblock %}

