{% extends "core/base.html" %}

{% block title %}
    <title>User</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <article class="col-sm-8">
            <nav id="pagination">
                <a class="page-numbers" href="{% url 'core:user_blogs_list' pk=user.id %}">Blogs</a>
                <span class="page-numbers current ">Posts</span>
            </nav>
            {% for post in posts %}
                <article class="card">
                    <h3><a href="{% url 'post:post_detail' pk=post.id %} ">{{ post.title }}</a></h3>
                    {{post.created_at|date:"D d M Y f"}}
                    <hr>
                    <div>{{ post.text }}</div>
                </article>
            {% endfor %}

            {% include "core/page_navigator.html" %}
        </article>


        <aside class="col-sm-4">
            <section class="sidebar-module sidebar-module-inset card">
                <h3>User: {{ user.username }}</h3>
                <p>Blogs: {{ blogs_count }}</p>
                <p>Posts: {{ posts_count }}</p>

                {% if can_edit %}
                    <p align="center">
                        <a href="{% url 'core:edit_user' pk=user.id %}">Edit profile</a>
                    </p>
                {% endif %}
            </section>

            <form method="get" class="sidebar-module sidebar-module-inset card">
                <h3>Filtrate posts</h3>
                {% include 'core/forms_render.html' %}

                <div class="form-group" align="center">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span> Search
                    </button>
                </div>
            </form>
        </aside>
    </div>
{% endblock content%}