{% extends "core/base.html" %}

{% block title %}
    <title>Post</title>
{% endblock title %}

{% block content %}
    <a href="{% url 'blog:blog_detail' pk=post.blog.id %}">Back to blog</a>
    <br>
    Post_id: {{post.id}}
    <br>
    Categories:
    <ul>
    {%  for cat in post.categories.all %}
        <li>
        {{ cat.title }}
        </li>
    {% endfor %}
    </ul>
    <h1>Title: {{post.title}}</h1>

    <h2>Text of post:</h2>
    {{post.text}}
    <br>

    {% if can_edit %}
        <p>
            <a href="{% url 'blog:edit_post' blog_id=post.blog.id pk=post.id %}">Edit the post</a>
        </p>
    {% endif %}

    <h2>Comments:</h2>
    {% for comment in post.comments.all %}
        {% if not comment.is_deleted %}
            <div>
                <div>
                    <b>{{ comment.author }}</b>, {{comment.created_at|date:"D d M Y f"}}
                    {% if comment.updated_at|date:"D d M Y f" != comment.created_at|date:"D d M Y f" %}
                        , <i>updated at {{comment.updated_at|date:"D d M Y f"}}</i>
                    {% endif %}
                </div>
                <div>{{comment.text}}</div>
            </div>
        {% endif %}
    {% endfor %}

    <h2>Create new comment:</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create comment">
    </form>



{% endblock content%}