{% extends "core/base.html" %}

{% block title %}
    <title>Sign up</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <article class="col-sm-12">
            <section class="card">
                <h2>Sign up</h2>
                <form method="post">
                    {% csrf_token %}

                    {% include 'core/forms_render.html' %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> Save
                        </button>
                        <a href="{% url 'core:index' %}" class="btn btn-default">Cancel</a>
                    </div>
                </form>
            </section>
        </article>
    </div>
{% endblock %}