{% extends "core/base.html" %}

{% block title %}
    <title>New post</title>
{%  endblock %}

{% block content %}
    <a href="{% url 'blog:blog_detail' pk=blog_id%}">Back to the blog</a>
    <section>
        <h2>Create new post:</h2>
        <form action="" method="post">
            {% csrf_token %}

            {% include 'core/forms_render.html' %}
            <a href="{% url 'core:new_category'%}?next={{ request.get_full_path|urlencode }}">Add new category</a>

            <div class="form-group" align="center">
                <button type="submit" class="btn btn-success">
                    Create post
                </button>
            </div>
        </form>
    </section>
{% endblock %}


