{% extends "core/base.html" %}

{% block title %}
    <title>List of blogs</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <article class="col-sm-8">
            {% for blog in blogs %}
                <article class="card">
                    <h3><a href="{% url 'blog:blog_detail' pk=blog.id %} ">{{ blog.title }}</a></h3>
                    <hr>
                    <div>{{ blog.description }}</div>
                </article>
            {% endfor %}
        </article>

        <aside class="col-sm-4">
            <section class="sidebar-module sidebar-module-inset card">
                <h3>Info</h3>
                <p>Blogs count: {{ blogs_count }}</p>
                <br>

                <p align="center">
                    <a href="{% url 'blog:new_blog'%}">Create new blog</a>
                </p>
            </section>

            <form method="get" class="sidebar-module sidebar-module-inset card">
                <h3>Filtrate blogs</h3>
                {% include 'core/forms_render.html' %}

                <div class="form-group" align="center">
                    <button type="submit" class="btn btn-success">
                        Search
                    </button>
                </div>
            </form>
        </aside>

    </div>

    {% include "core/page_navigator.html" %}
{% endblock content%}