{% extends "core/base.html" %}

{% block title %}
    <title>New category</title>
{%  endblock %}

{% block content %}
    <div class="row">
        <article class="col-sm-12">
            <section class="card">
                <h2>Create new category:</h2>
                <form action="" method="post">
                    {% csrf_token %}

                    {% include 'core/forms_render.html' %}

                    <div class="form-group" align="center">
                        <button type="submit" class="btn btn-success">
                            Create category
                        </button>
                    </div>
                </form>
            </section>
        </article>
    </div>
{% endblock %}
