{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
            <title>Title</title>
        {% endblock title %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chosen/chosen.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chosen/bootstrap-chosen.css' %}">

        <script src="https://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>#}
        <script type="text/javascript" src="{% static 'chosen/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/base.js' %}"></script>
    </head>
    <body>
        {% block menu %}
            <div class="blog-nav blog-masthead">
                <nav class="container">
                    <a class="blog-nav-item" href="{% url 'core:index' %}">Home</a>
                    <a class="blog-nav-item"  href="{% url 'blog:blog_list' %}">Blogs</a>
                    <a class="blog-nav-item"  href="{% url 'post:post_list' %}">Posts</a>
                    <a class="blog-nav-item"  href="{% url 'core:about' %}">About</a>
                    <a class="blog-nav-item"  href="{% url 'core:contacts' %}">Contact</a>
                    {% if user.is_anonymous %}
                        <a class="blog-nav-item pull-right"
                           href="{% url 'auth:sign_up' %}?next={{ request.get_full_path|urlencode }}">Sign up</a>
                        <a class="blog-nav-item pull-right"
                           href="{% url 'auth:login' %}?next={{ request.get_full_path|urlencode }}">Login</a>
                    {% elif user.is_authenticated %}
                        <a class="blog-nav-item pull-right" href="{% url 'auth:logout' %}">Logout</a>
                        <a class="blog-nav-item blog-nav-username pull-right"
                           href="{% url 'core:user_blogs_list' pk=user.id %}">
                            {{ user.username }}
                        </a>
                        <span class="blog-nav-item pull-right">Username: </span>
                    {% endif %}
                </nav>
            </div>
        {% endblock menu%}

        <main class="container">
            <header>
                <h1 class="blog-title">The Blog Platform</h1>
            </header>
            <hr>
            {% block content %}
                <h2>This is content</h2>
            {% endblock content%}
        </main>

        {% include "core/footer.html" %}
    </body>
</html>