<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
            <title>Title</title>
        {% endblock title %}
    </head>
    <body>
        {% block menu %}
            {% if user.is_anonymous %}
                {% include "core/menu_anon.html" %}
            {% elif user.is_authenticated %}
                {% include "core/menu_auth.html" %}
            {% endif %}
        {% endblock menu%}

        <hr>

        {% block content %}
            <h2>This is content</h2>
        {% endblock content%}

        {% include "core/footer.html" %}
    </body>
</html>

