{% extends "core/base.html" %}

{% block title %}
    <title>Contacts</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <article class="col-sm-12">
            <section class="card">
                <h2>Контактные данные</h2>
                <ul>
                    <li>
                        <strong>Тел.</strong> <i>+7-910-47-4*-***</i>
                    </li>
                    <li>
                        <strong>Email</strong> <i>makci.97@mail.ru</i>
                    </li>
                </ul>
            </section>
        </article>
    </div>
{% endblock content%}
