{% extends "core/base.html" %}

{% block title %}
    <title>Blog</title>
{% endblock title %}

{% block content %}
    <a href="{% url 'blog:blog_list' %}">Back to list of blogs</a>
    <br>
    <p>
        Blog_id: {{blog.id}}
        <br>
        Author: {{ blog.author }}
    </p>
    <h1>Title: {{blog.title}}</h1>

{#    {% if can_create %}#}
        <p>
            <a href="{% url 'blog:new_post' blog_id=blog.id %}">Create new post</a>
        </p>
{#    {% endif %}#}

    <h1>List of all posts:</h1>
    {% for post in blog.posts.all %}
        <div>
            <div><a href="{% url 'post:post_detail' pk=post.id %} ">{{ post.title }}</a></div>
            <div>{{ post.text }}</div>
        </div>
        <br>
    {% endfor %}
{% endblock content%}