{% extends "core/base.html" %}

{% block title %}
    <title>Blog</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <article class="col-sm-8">
            {% for post in posts %}
                <article class="card">
                    <h3><a href="{% url 'post:post_detail' pk=post.id %} ">{{ post.title }}</a></h3>
                    {{post.created_at|date:"D d M Y f"}}
                    <hr>
                    <div>{{ post.text }}</div>
                </article>
            {% endfor %}
            {% if posts.count == 0 %}
                <article class="card">
                    <h2 align="center">Blog is empty</h2>
                </article>
            {% endif %}

            {% include "core/page_navigator.html" %}
        </article>

        <aside class="col-sm-4">
            <section class="sidebar-module sidebar-module-inset card">
                <h3>{{ blog.title }}</h3>
                <hr>
                <p>
                    Author: <a href="{% url "core:user_blogs_list" pk=blog.author.id %}">{{ user.username }}</a>
                </p>
                <p>
                    {{ blog.description }}
                </p>
                <p>
                Categories:
                {%  for cat in blog.categories.all %}
                    {{ cat.title }}
                    {% if not forloop.last %} | {% endif %}
                {% endfor %}</p>

                {% if can_create %}
                    <p align="center">
                        <a href="{% url 'blog:new_post' blog_id=blog.id %}">Create new post</a>
                    </p>
                {% endif %}
            </section>

            <form method="get" class="sidebar-module sidebar-module-inset card">
                <h3>Filtrate posts</h3>
                {% include 'core/forms_render.html' %}

                <div class="form-group" align="center">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span> Search
                    </button>
                </div>
            </form>

{#            <br>#}
{#            <a href="{% url 'blog:blog_list' %}">Back to list of blogs</a>#}
        </aside>
    </div>
{% endblock content%}